body {
  width: 1200px;
  margin: 0 auto;
  font-family: Montserrat;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
}

.breadcrumb {
  display: flex;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 0; 
  padding: 0;
}

.breadcrumb li {
  display: flex;
  list-style-type: none;
  line-height: 30px;
  color: #777;
}

.breadcrumb li:not(:first-child):before {
  margin: 10px;
  content: "";
  width: 6px;
  height: 6px;
  display: block;
  border-top: #777 solid 1px;
  border-right: #777 solid 1px;
  transform: rotate(45deg);
  transform-origin: 0 0;
} 

.breadcrumb li a {
  color: #333333B2;
  text-decoration: none;
}

.filter {
  display: flex;
  padding: 0;
}

.filter li {
  display: flex;
  list-style-type: none;
  float: left;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  border-color: #777;
  border: #777 solid 1px;
  border-radius: 24px;
  padding: 6px;
  margin: 2px 12px 2px 0;
  position: relative;
}

.filter li:active { 
  border: 2px solid #16C8BB;
  cursor: pointer;
}

#icon_smile {
  background-image: url(../images/smile.svg);
  background-size: contain;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

#filter_3 {
  border: 2px solid #16C8BB;
  cursor: pointer;
}

.icon_horse {
  background-image: url(../images/icon.svg);
  background-size: contain;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.self {
  display: flex;
  list-style-type: none;
  width: fit-content;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  border-color: #777;
  border-radius: 24px;
  padding: 4px 10px 4px 10px;
  margin: 8px 12px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
}

#main_blog {
  display: grid;
  grid-template-rows: 499px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}

.blog {
  margin-bottom: 24px;
}

.blog > div {
  display: grid;
  grid-template-rows: 260px 1fr;
  grid-template-columns: 1fr;
  border:#DEDEDE solid 1px;
  border-radius: 10px;
  box-sizing: border-box;
}

.blog > div > .picture {
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog > div > .text {
  display: grid;
  margin: 16px;
}

.blog > div > .text .text_2 {
  align-self: end;
}

.blog > div > .text p {
  margin: 0px;
}

.font_1 {
  font-size: 18px;
  line-height: 20px;

}
.font_2 {
  font-size: 12px;
  line-height: 20px;
}
.font_3 {
  font-size: 16px;
  line-height: 20px;
}

#other_blog {
  display: grid;
  grid-template-rows: repeat(2, 475px);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}

#blog_one {
  background-image: url(../images/image_1.png);
}

#blog_two {
  background-image: url(../images/image_2.png);
}

#blog_three {
  background-image: url(../images/image_3.png);
}

#blog_four {
  background-image: url(../images/image_4.png);
}

#blog_five {
  background-image: url(../images/image_5.png);
}

#blog_six {
  background-image: url(../images/image_6.png);
}

#blog_seven {
  background-image: url(../images/image_7.png);
}

#blog_eight {
  background-image: url(../images/image_8.png);
}

.next_button {
    margin: 0 auto;
    display: block;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 12px 16px;
    background: #35B3A9;
    transition: 0.2s;
    border-radius: 4px;
    size: 16px;
    width: 150px;
    border: none;
  } 

  .next_button:hover { 
    background: #35B3A9;
    cursor: pointer;
  }
