@media screen and (max-device-width: 768px) {
    .body {
        overflow-y: scroll;
    }
    .head {
        height: 56px;
        width: 288px;
        margin: 0 auto;
        align-items: center;
    }
    .head #logo {
        width: 48px;
        height: 34px;
    }
    .head .menu {
        width: 18px;
        height: 18px;
        margin-left: auto;
        background-image: url(../images/vector.svg);
        background-size: contain;
        background-repeat: no-repeat;
        padding: 0;
    }
    .head .menu div, #material {
        display: none;
    }
    .head button {
        display: none;
    }
    main {
        width: 288px;
        margin: 0 auto;
    }
    .breadcrumb, .filter {
        margin: 24px 0;
    }
    .breadcrumb li a {
        font-size: 12px;
        line-height: 18px;
    }
    .breadcrumb li:not(:first-child):before {
        margin: 4px 12px;
        width: 6px;
        height: 6px;
    } 
    h1 {
        margin: 0;
        padding-right: 0;
        font-size: 24px;
        line-height: 32px;
    }
    .filter {
        width: 310px;
        overflow: hidden;
    }
    .filter li {
        align-items: center;
        padding: 6px;
        font-size: 14px;
        line-height: 20px;
    }
    .icon {
        width: 18px;
        height: 18px;
    }
    #main_blog {
        grid-template-columns: 1fr;
    }
    .blog {
        margin-bottom: 0;
    }
    .blog > div {
        grid-template-rows: 206px 1fr;
    }
    .blog > div > .picture {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
      }
    .blog > div > .text {
        display: block;
        padding: 16px;
        border: #DEDEDE solid 1px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
    #blog_one {
        background-image: url(../images/image_1_min.png);
    }
    .text .font_1 {
        font-size: 18px;
        line-height: 26px;
    }
    .text .font_2 {
        margin: 5px 0;
        font-size: 12px;
        line-height: 18px;
    }
    .text .font_3 {
        font-size: 14px;
        line-height: 20px;
    }
    .text p:last-child {
        margin-bottom: 0;
    }
    #other_blog {
        grid-template-rows: 499px;
        grid-template-columns: 1fr;
        margin-top: 24px;
    }
    .next_button {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .foot {
        width: 288px;
        margin: 0 auto;
    }
    .foot_menu {
        grid-template-columns: 1fr;
    }   
    .foot_menu_info {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 35px;
        margin-bottom: 20px;
    }
    .foot_menu_news {
        width: 100%;
        height: auto;
    }
    p#news_text {
        width: 100%;
    }
    #news_law {
        height: 72px;
        width: 100%;     
    }
    .foot_menu_news form {        
        width: 100%;
    } 
    .foot_menu_news form input[type=submit] {
        display: none;
    }
    .foot_menu_link {       
        justify-self: auto;
    }
    .foot_menu_link_net {        
        padding-top: 15px;
    }
    ul.foot_copyright {
        flex-direction: column;
        padding: 20px 0;              
    }
    .foot_copyright li:not(:first-child) {
        margin-top: 20px;
        margin-left: 0;
    }
}