@media screen and (max-device-width: 768px) {
    body {
        margin: 0 48px;
    }
    .head {
        width: 100%;
        aspect-ratio: 320/56;
        align-items: center;
    }
    .head #logo {
        width: 144px;
        height: 102px;
    }
    .head .menu {
        width: 54px;
        height: 54px;
        margin-left: auto;
        background-image: url(../images/vector.svg);
        background-size: contain;
        background-repeat: no-repeat;
        padding: 0;
    }
    .head .menu div, #material {
        display: none;
    }
    .head button {
        display: none;
    }
    main {
        width: 100%;
    }
    .breadcrumb {
        margin: 48px 0;
    }
    .breadcrumb li a {
        font-size: 2.5em;
        line-height: 0.7em;
    }
    .breadcrumb li:not(:first-child):before {
        margin: 0 30px;
        width: 18px;
        height: 18px;
        border-top: #777 solid 2px;
        border-right: #777 solid 2px;
    } 
    h1 {
        margin: 0;
        padding-right: 0;
        font-size: 5em;
        line-height: normal;
    }
    .filter {
        margin: 48px 0;
    }
    .filter li {
        align-items: center;
        border-radius: 3em;
        padding: 0 1em;
    }
    .icon {
        width: 50px;
        height: 50px;
        margin-right: 15px;
    }
    .filter li a { 
        font-size: 3em;
        line-height: 2em;
    }
    #main_blog {
        display: block;
    }
    .blog > div {
        aspect-ratio: 288/484;
        grid-template-rows: 43% 1fr;
        border: #DEDEDE solid 2px;
        border-radius: 40px;
        margin-bottom: 40px;
    
    }
    .blog > div > .text {
        display: block;
      }
    #blog_one {
        background-image: url(../images/image_1_min.png);
    }
    .font_1 {
        font-size: 5vw;
        line-height: 10vw;
    }
    .font_2 {
        font-size: 2vw;
        line-height: 10vw;
    }
    .font_3 {
        font-size: 3vw;
        line-height: 6vw;
    }
}