body {
 height: 100%; 
 background-color: black;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1178px;
  height: 553px;
  margin-top: 25px;
}

.slider {
  width: 1171px;
  height: 553px;
  margin: 0px;
  position: relative;
  display: grid;
  grid-template-columns: 442px 1fr;
  grid-template-rows: 24px 1fr 1fr 14px;
  grid-column-gap: 46px;
  grid-row-gap: 30px;  
}

.slider__name_room {
  display: flex;
  justify-content: space-between;  
  width: 623px;
  height: 24px;
  font-size: 14px;
  color: #FFFFFF4D;
}

.slider__text p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.description,
.slider__description_room {  
  font-size: 14px;
  font-family: Nunito Sans;
  line-height: 191%;
  letter-spacing: 0%;  
  color: white;
}

.description__city,
.description__apartament,
.description__time,
.description__cost {
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 13px;
  line-height: 164%;
  letter-spacing: 0%;
  color: white;
}

.basic,
.slider__description_room {
  font-family: Yeseva One;
  line-height: 139%;
  letter-spacing: -7%;  
  color: #E3B873;
  padding-left: 0px;
}

.basic {
  font-size: 27px;
}

.slider__description_room ul{  
  list-style-type:  none;
  display: grid;
  grid-template-columns: 160px 1fr;
  grid-template-rows: repeat(2, 1fr);
  font-size: 18px;
  padding-left: 0px;
}
.slider__description_room li{  
  height: 110px;
}

.slider__images {
  position: relative;
  grid-row: span 3;
  width: 679px;
  height: 483px;  
  background-size: cover;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.slider__images .image.active {
  opacity: 1;
}

.slider__images .image {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 800ms ease;
}

img {
 padding: 5px 5px; 
 grid-column: span 2;
}

.slider__switch {
  display: flex;
  align-items: center;
}

.slider__switch_arrow:hover {
  opacity: 1;
}

.slider__switch_arrow.left {
  left: 0;
}

.slider__switch_arrow.right {
  right: 0;
}

.slider__switch_dots {
  display: flex;
  left: 0;
  bottom: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

.slider__switch_dots_item {
  display: flex;
  width: 10px;
  height: 10px;
  background: #FFFFFF4D;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.4s ease;
}

.slider__switch_dots_item:hover, .slider__switch_dots_item.active {
  background: white;
}

.slider__switch_arrow:hover {
  cursor: pointer;
}

.slider__name_room_item:hover {
  cursor: pointer;
}
.slider__name_room .active {
  color: #E3B873;
  border-bottom: 1px solid #E3B873;
}